body {
    font: 30px bold Geneva, Arial, Helvetica, sans-serif;
    /*font-family: Courier New;*/
}

table {
    border-collapse: collapse;
}

.game-board table, th, td {
    border: 1px solid black;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
    text-align: center;
}

td {
    width: 75px;
    height: 75px;
    cursor: pointer;
}

img.player {
    margin: 0 10px;
    padding: 20px;
}

div.hint {
    position: relative;
    float: right;
}

img.hint {
    position: absolute;
    right: 0;
    top: 0;
    margin-bottom: -5px;
    cursor: pointer;
    float: right;
}

.hint-count {
    position: absolute;
    font-weight: normal;
    font-size: 20px;
    top: 15px;
    right: 11px;
    width: 100%;
    cursor: pointer;
    z-index: 1;
    text-shadow: white 0 0 2px;
}

span.tooltip {
    display: none;
    padding: 2px 3px;
    margin-left: 8px;
    width: 130px;
}

.hint:hover span.tooltip {
    display: inline;
    position: absolute;
    background: #ffffff;
    border: 1px solid #cccccc;
    color: #6c6c6c;
}

.block {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
    background-color: #ffecb3;
    border-radius: 7px;
    margin-top: 20px;
}

.container {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
}

span {
    padding: 10px;
}

.turn {
    width: auto;
    border-radius: 7px;
    background-color: #70dcff;
    text-align: center;
    margin: 20px 0;
    float: left;
}
#turn {
    float: left;
}

.score {
    padding: 10px 5%;
    width: 90%;
    margin-top: 20px;
    border-radius: 7px;
    background-color: #b0ea56;
}

.name {
    alignment: center;
    margin-bottom: 25px;
}

.green {
    background-color: #b0ea56;
}

ul {
    columns: 11;
    list-style-type: none;
    width: 616px;
    margin: 0 auto;
    padding: 0;
}

li {
    cursor: pointer;
}

.letter {
    background-color: #ff9e7d;
    border-radius: 3px;
    width: 21px;
    height: 21px;
    padding: 10px 15px 20px 15px;
    margin: 2px;
    text-align: center;
}

#alphabet {
    padding: 18px 9px;
    border-radius: 4px;
    background: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
    width: 659px;
    height: 270px;
}

#overlay {
    z-index: 37;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.close {
    cursor: pointer;
    border-radius: 3px;
    border: solid 1px black;
    font-size: 20px;
    float: right;
    margin: 10px;
    padding: 7px;
}

.alphabet-table tr {
    margin: 0;
    padding: 0;
}

.alphabet-table td {
    margin: 0;
    border: none;
    padding: 0;
    cursor: pointer;
}

table.alphabet-table {
    text-align: center;
    margin: 0;
    padding: 0;
}

#timeClock {
    float: right;
}